is_prod=false

s3_endpoint="localhost:9000"
s3_access_key="<minio-access-key>"
s3_secret_key="<minio-secret-key>"

RABBIT_URL=localhost

audio_bucket="video-to-audio-converter"
video_bucket="video-to-audio-converter"

audio_queue=audio
video_queue=video

RABBITMQ_USER=rabbit_user
RABBITMQ_PASS=rabbit_pass
